/obj/
/gnatprove-*.txt
/lib/
/alire/
/config/
/.DS_Store
__pycache__/
*.pyc
/.alire/
/alire/
/build/
/lib/
/obj/
/tests/bin/
/tests/obj/
/tests/alire/
/tests/**/*-test_data.ads
/tests/**/*-test_data-tests.ads
/sqlite/lib/
/sqlite/obj/
/sqlite/tests/bin/
/sqlite/tests/obj/
/sqlite/tests/alire/
/benchmarks/results/
